<!DOCTYPE html>
<html lang="en">
<head th:replace="thymeleaf/base :: common_header(~{::title},~{::link},~{::script})">
    <title>게임 상세설정</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/makeGame.css}">
    <script>
        
        
    </script>
</head>
<body>
    <header>
        <div class="header-title" >
            게임 상세설정을 설정하세요.
        </div>
    </header>
    <main>
        <form>
            <div class="select-group">
                <h1 class="title"></h1>
            </div>
        </form>
        <button id ="ok" class="bt-size-fix bt-purple">확인</button>
    </main>
</body>
</html>