<!DOCTYPE html>
<html lang="en">
<head th:replace="thymeleaf/base :: common_header(~{::title},~{::link},~{::script})">
    <title>abc</title>
    <link rel="stylesheet" th:href="@{/css/makeGame.css}">
    <script th:inline="javascript">
        const rUrl = /*[[${rUrl}]]*/'';

        $(document).ready(function(){
            const at = /*[[${at}]]*/'';
            var f= document.forms.popupForm;
            document.domain = "localhost"; 
            opener.name = "manitoIvt";
            f.target = opener.name;
            f.action = rUrl;
            f.submit();
            self.close();
        });
</script>
<body>
<form name="popupForm" method="post">
    <input type="hidden" name="at" th:value="${at}">
</form>
</body>
</html>