<!DOCTYPE html>
<html lang="en">
<head th:replace="thymeleaf/base :: common_header(~{::title},~{::link},~{::script})">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <title>마니또 생성</title>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#create').click(function(){ // 생성페이지로 이동
                location.href="thym-invite.do";
            })
            $('#explain').click(function(){ //모달창 열기
                $('#modal').css("display","flex");
            })
            $('#close').click(function(){ //모달창 닫기
                $('#modal').hide();
            })
        })
    </script>
</head>
    
<body>
    <header>
        <div class="title-area">
            <h1>
                <span>Let's Play manito</span>
            </h1>
        </div>
    </header>
    <main>
        <div >
            <ul class="button-area">
                <button class="bt-size-fix bt-purple" id="create">마니또 생성하기</button>
                <button class="bt-size-fix bt-coral" id="explain">마니또란?</button>
            </ul>
        </div>
    </main>
    <div class="modal-area" id="modal">
        <div class="modal-body" id="modal_body">
            <h2>마니또란?</h2>
            <p>마니또 내용 설명</p>
            <button class="bt-size-fix" id="close">닫기</button>
        </div>
    </div>
</body>
</html>