<!DOCTYPE html>
<html lang="ko">
  <head th:replace="thymeleaf/base :: common_header(~{::title},~{::link},~{::script})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마니또 게임생성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/makeGame.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/timePicker.css}" />
    <script type="text/javascript" th:src="@{/javascript/calendar.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/timePicker.js}"></script>

    <!-- 화면 테스트용 -->
    <!-- <link rel="stylesheet" href="../../../static/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
    <link rel="stylesheet" href="../../../static/css/calendar.css" />
    <link rel="stylesheet" href="../../../static/css/timePicker.css" />
    <link rel="stylesheet" href="../../../static/css/makeGame.css" />
    <script src="../../../static/javascript/calendar.js"></script>
    <script src="../../../static/javascript/timePicker.js"></script> -->
    <script>
      function popupCenter(domain,url, title, w, h) {
        document.domain=domain;
        // 팝업 창의 위치를 계산하여 중앙에 위치시킵니다.
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);            // window.open 함수로 팝업 창을 엽니다.
        window.open(url, title, 'width=' + w + ', height=' + h + ', top=' + top + ', left=' + left + ', scrollbars=yes');
      }

      function showModal(modalTarget) {
        modalTarget.style.opacity = 1;
        modalTarget.style.zIndex = 999;
      }

      function hideModal(modalTarget) {
        modalTarget.style.opacity = 0;
        modalTarget.style.zIndex = -999;
      }

      // 모달 위치 설정
      function initPosSetting(modalTarget, clickElement) {
        let posX = clickElement.getBoundingClientRect().left + clickElement.getBoundingClientRect().width + 20;
        let posY =
          clickElement.getBoundingClientRect().top +
          clickElement.getBoundingClientRect().height -
          modalTarget.getBoundingClientRect().height;
        modalTarget.style.top = posY + "px";
        modalTarget.style.left = posX + "px";
        // 대상 data-target true로 변경
        clickElement.dataset.target = "true";
      }

      function openCal() {
        event.preventDefault();
        event.stopPropagation();
        const modal = document.querySelector(".modal-bg");
        if (modal !== null) {
          showModal(modal);
        }
        const tg = event.currentTarget;
        const modalCal = modal.querySelector("#cal");
        const modalTimer = modal.querySelector("#timer");
        // 모달창 위치 설정
        initPosSetting(modalCal, tg);
        initPosSetting(modalTimer, tg);
        // 달력모달 켜기
        showModal(modalCal);
        hideModal(modalTimer);
      }

      function showFormDate(date) {
        return dateList[0] + "년" + dateList[1] + "월" + dateList[2] + "일 " + timeList[0] + ":" + timeList[1];
      }

      // 2. 선택완료
      function dateSetting() {
        const time = document.querySelector(".time-picker-view").innerText;
        const date = document.querySelector(".calendar-hidden").value;
        const modal = document.querySelector(".modal-bg");
        const inputTargetParent = document.querySelector("button[data-target='true']");
        const inputTarget = inputTargetParent.querySelector("input[type='text']");
        const dateFormat = (date, time) => {
          time = time.replace(/\s/g,''); // 공백제거
          let dateList = date.split("-");
          let timeList = time.split(" : ");
          //return dateList[0] + "년" + dateList[1] + "월" + dateList[2] + "일 " + timeList[0] + ":" + timeList[1];
          let dateVal = date+' '+time;
          return dateVal;
        };
        // input 값 입력
        inputTarget.value = dateFormat(date, time);
        // 대상 data-target 초기화
        inputTargetParent.dataset.target = "false";
        // 모달 닫기
        hideModal(modal);
      }

      function validation() {
        const eDate = document.querySelector("#endDate").value.trim();
        const sDate = document.querySelector("#startDate").value.trim();
        let joinCnt=0
        ,showCnt =0
        ,missionCnt = 0;
        for (var i = 0; i < 2; i++) {
          if(document.getElementsByName('joinYn')[i].matches(":checked"))joinCnt++;
          if(document.getElementsByName('showYn')[i].matches(":checked"))showCnt++;
          if(document.getElementsByName('missionYn')[i].matches(":checked"))missionCnt++;
        }
        if(!joinCnt){
          alert("관리자 참가 여부를 선택해주세요.");
          return false;
        }else if(!showCnt){
          alert("참가자 공개 여부를 선택해주세요.")
          return false;
        }else if(!missionCnt){
          alert("미션 사용 여부를 선택해주세요.")
          return false;
        }else if(sDate == null || sDate == ""){
          alert("시작시점을 선택해주세요.")
          return false;
        }else if (eDate == null || eDate == "") {
          alert("종료일자를 선택해주세요.");
          return false;
        }else if(sDate > eDate){
          alert("시작일자는 종료일자보다 빠를 수 없습니다.")
          return false;
        }
        const form = document.querySelector("form[name='make-manito']");
        form.setAttribute("action", "/thym-gameDetail.do");
        form.submit();
      }

      window.addEventListener("DOMContentLoaded", () => {
        // 모달 외부창 클릭시 꺼짐
        const modal = document.querySelector(".modal-bg");
        modal.addEventListener("click", () => {
          hideModal(modal);
        });
        // 달력, 시계 닫기이벤트 방지
        const modalCal = modal.querySelector("#cal");
        const modalTimer = modal.querySelector("#timer");
        modalCal.addEventListener("click", function (e) {
          e.stopPropagation();
        });
        modalTimer.addEventListener("click", function (e) {
          e.stopPropagation();
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">마니또 게임을 만들기 위해서는 간단하게 세팅이 필요해요!</h1>
    </header>
    <main>
      <div>
        <form name="make-manito" th:action th:object="${manitoInfoDTO}" onsubmit="validation()" method="post">
          <!-- <input type="text" name="userId" th:value="${userInfoDTO.uerId}"> -->
          <!-- <input type="text" name="createUser" th:field="*{createUser}"> -->
          <ul>
            <li class="select-group">
              <h2 class="title">관리자 게임 참가 여부</h2>
              <div class="select-block">
                <input
                  type="radio"
                  name="joinYn"
                  id="join_y"
                  th:checked="${manitoInfoDTO.joinYn eq 'Y'}"
                  th:field="*{joinYn}"
                  value="Y"
                />
                <label class="bt-white" for="join_y">
                  <span class="icon-check">참가</span>
                </label>
                <input
                  type="radio"
                  name="joinYn"
                  id="join_n"
                  th:checked="${manitoInfoDTO.joinYn eq 'N'}"
                  th:field="*{joinYn}"
                  value="N"
                />
                <label class="bt-white" for="join_n">
                  <span class="icon-check">관전</span>
                </label>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">참가자 공개 여부</h2>
              <div class="select-block">
                <input
                  type="radio"
                  name="showYn"
                  id="show_y"
                  th:checked="${manitoInfoDTO.showYn eq 'Y'}"
                  th:field="*{showYn}"
                  value="Y"
                />
                <label class="bt-white" for="show_y">
                  <span class="icon-check">공개</span>
                </label>
                <input
                  type="radio"
                  name="showYn"
                  id="show_n"
                  th:checked="${manitoInfoDTO.showYn eq 'N'}"
                  th:field="*{showYn}"
                  value="N"
                />
                <label class="bt-white" for="show_n">
                  <span class="icon-check">비공개</span>
                </label>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">미션 사용 여부</h2>
              <div class="select-block">
                <input
                  type="radio"
                  name="missionYn"
                  id="mission_y"
                  th:checked="${manitoInfoDTO.missionYn eq 'Y'}"
                  th:field="*{missionYn}"
                  value="Y"
                />
                <label class="bt-white" for="mission_y">
                  <span class="icon-check">미션없음</span>
                </label>
                <input
                  type="radio"
                  name="missionYn"
                  id="mission_n"
                  th:checked="${manitoInfoDTO.missionYn eq 'N'}"
                  th:field="*{missionYn}"
                  value="N"
                />
                <label class="bt-white" for="mission_n">
                  <span class="icon-check">미션있음</span>
                </label>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">마니또 시작 시점</h2>
              <div class="select-block modal-open">
                <button type="button" class="bt-white bt-white-fix icon-cal" onclick="openCal()" data-target="false">
                  <input type="text" id="startDate" placeholder="0000년 00월 00일 00:00" readonly th:field="*{startDate}" />
                </button>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">마니또 종료 시점</h2>
              <div class="select-block modal-open">
                <button type="button" class="bt-white bt-white-fix icon-cal" onclick="openCal()" data-target="false">
                  <input type="text" id="endDate" placeholder="0000년 00월 00일 00:00" readonly th:field="*{endDate}" />
                </button>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li>
              <button class="bt-size-auto bt-purple" type="submit">구성원 초대하기</button>
            </li>
          </ul>
        </form>
      </div>
    </main>
    <!-- 모달 -->
    <div class="modal-bg">
      <!-- 달력 -->
      <div class="modal" id="cal">
        <div class="modal-area">
          <div class="title">미션시작 일자</div>
          <div class="body">
            <div class="calendar">
              <div class="calendar-tit">
                <div class="calendar-btn bt-previous"></div>
                <div class="year-month"></div>
                <div class="calendar-btn bt-next"></div>
              </div>
              <div class="calendar-body"></div>
              <input type="text" class="calendar-hidden" />
            </div>
          </div>
        </div>
      </div>
      <!-- 시계 -->
      <div class="modal" id="timer">
        <div class="modal-area">
          <div class="time-picker-area">
            <section class="time-picker-header">
              <div class="title">미션시작 시간</div>
              <div class="time-picker-view"></div>
            </section>
            <section class="time-picker-body">
              <div class="time-pick-box blue-back"><span>:</span></div>
              <div class="time-slider hour-slider"></div>
              <div class="time-slider minute-slider"></div>
              <!-- <div class="time-pick-box"></div> -->
            </section>
            <section class="time-picker-footer">
              <div class="button-box">
                <button class="confirm-button" aria-label="confirm" onclick="dateSetting()">선택완료</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
