<!DOCTYPE html>
<html lang="ko">
  <head th:replace="thymeleaf/base :: common_header(~{::title},~{::link},~{::script})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마니또 시작하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/start.css}" />
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/v1/kakao.min.js"></script>
    <script th:inline="javascript">
      window.addEventListener("DOMContentLoaded", function () {
        let member = "[[${memberlist}]]";

        const viewMemberBtn = document.querySelector("nav>button");
        console.log(viewMemberBtn);
        viewMemberBtn.addEventListener("click", () => {
          const listView = document.querySelector(".member");
          listView.classList.toggle("on");
        });
      });

      var abc = /*[[${at}]]*/'';
      const key = /*[[${kakao_js_key}]]*/'';
      const idx = /*[[${encIdx}]]*/'';

      Kakao.init(key);
        console.log(Kakao.isInitialized());//ey 값을 가져오는지 확인
        function sendLink() {
            var imgUrl1 = 'http://k.kakaocdn.net/dn/ckrKco/btrVqfPjQSG/z2wmewdXkyWCzLZ406q0c0/kakaolink40_original.png';
            Kakao.Link.sendDefault({
                objectType: 'feed',
                content: { // 이미지 눌렀을때 링크주소
                    title: '마니또 게임에 초대되었습니다',
                    description: '이정한님이 마니또게임을 초대하였습니다.',
                    imageUrl: imgUrl1,
                    link: {
                        mobileWebUrl: 'http://localhost:8080', //모바일로 눌렀을 때
                        webUrl: 'http://localhost:8080/thym-ljh.do?idx='+idx // 컴퓨터로 눌렀을 때
                    },
                },
                buttons: [ // 버튼 눌렀을 때 링크주소
                    {
                        title: '테스트 결과보기',
                        link: {
                            mobileWebUrl: 'http://localhost:8080',
                            webUrl: 'http://localhost:8080/thym-ljh.do?idx='+idx
                        },
                    },
                ]
            });
        }
    </script>
  </head>
  <body>
    <nav>
      <button class="bt-size-auto bt-purple">참가자 보기</button>
      <button id ="kakao-link-btn" class="bt-size-auto bt-purple" onclick="javascript:sendLink()">초대하기</button>
      <div class="member">
        <ul>
          <li th:each="member: ${memberlist}"><span th:text="${member}"></span></li>
        </ul>
      </div>
    </nav>
    <main>
      <!-- 메인미션 구간 -->
      <div class="main-mission-area">
        <div class="mission-unit">
          <span id="end-date" th:text="${manitoInfoDTO.endDate}"></span>까지 <br />
          <span th:text="${#temporals.createDate(manitoInfoDTO.endDate, 'yyyy-MM-dd HH:mm')}"></span>
          <span class="name" th:text="${manitoInfoDTO.createUser}"></span>에게 들키지 않고 마니또로 활동하세요.
        </div>
        <div class="mission-unit">
          <span id="end-date" th:text="${manitoInfoDTO.endDate}"></span>에 <br />
          마니또 <span class="name" th:text="${manitoInfoDTO.createUser}"></span>의 정체를 맞추세요.
        </div>
      </div>
      <!-- 구분선 -->
      <div class="divide-bar"></div>
      <!-- 추가미션 구간 -->
      <div class="sub-mission-area">
        <a href="/ajh5.do"><div class="bt-size-auto bt-coral">추가미션</div></a>
        <div class="mission-content">
          <div class="mission-unit">
            <span class="mission-ing icon-tag">마니또에게 응원의 카톡을 매일 하나 보내기</span>
          </div>
          <div class="mission-unit">
            <span class="mission-ready icon-bell">00분 후에 공개됩니다</span>
          </div>
        </div>
      </div>
    </main>
    <!-- 추가 안내 -->
    <footer>
      <div>
        당신을 도와주는 마니또는<br />
        <span class="name" th:text="${manitoName}"></span>라는 닉네임을 가지고 있습니다.
      </div>
    </footer>
  </body>
</html>
