<!DOCTYPE html>
<html lang="ko">
  <head th:replace="~{thymeleaf/base :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마니또 세부설정</title>
    <link rel="stylesheet" th:href="@{/css/gameDetail.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/timePicker.css}" />
    <script type="text/javascript" th:src="@{/javascript/calendar.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/timePicker.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/modal.js}"></script>
    <script th:inline="javascript">
      function addMission() {
        const form = document.querySelector("form");
        form.method = "POST"
        form.action = "/ajh3.do/add";
        form.submit();
      }
      window.addEventListener("DOMContentLoaded", () => {
        let addBtn = document.querySelectorAll("button.add-mission");
        console.log(addBtn[addBtn.length - 1]);
        addBtn = addBtn[addBtn.length - 1];
        addBtn.onclick = addMission;
        function validation() {
          event.preventDefault();
          const form = document.querySelectorAll("form");
          console.log(form);
          // form.action = "/test3.do";
          // form.submit();
        }
      });
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">마니또 게임에 미션을 세부설정 할 수 있어요.</h1>
    </header>
    <main>
      <div>
        <th:block th:replace="~{thymeleaf/fragment/add_form :: add_form(${form})}"></th:block>
        <button class="bt-size-mini add-group icon-plus" onclick="addGroup()" type="button">그룹추가</button>
        <button class="bt-size-fix bt-purple submit-btn" type="button" onclick="validation()">설정 완료</button>
      </div>
    </main>
    <!-- 모달 -->
    <div class="modal-bg">
      <!-- 달력 -->
      <div class="modal" id="cal">
        <div class="modal-area">
          <div class="title">미션시작 일자</div>
          <div class="body">
            <div class="calendar">
              <div class="calendar-tit">
                <div class="calendar-btn bt-previous"></div>
                <div class="year-month"></div>
                <div class="calendar-btn bt-next"></div>
              </div>
              <div class="calendar-body"></div>
              <input type="text" class="calendar-hidden" />
            </div>
          </div>
        </div>
      </div>
      <!-- 시계 -->
      <div class="modal" id="timer">
        <div class="modal-area">
          <div class="time-picker-area">
            <section class="time-picker-header">
              <div class="title">미션시작 시간</div>
              <div class="time-picker-view"></div>
            </section>
            <section class="time-picker-body">
              <div class="time-pick-box blue-back"><span>:</span></div>
              <div class="time-slider hour-slider"></div>
              <div class="time-slider minute-slider"></div>
              <!-- <div class="time-pick-box"></div> -->
            </section>
            <section class="time-picker-footer">
              <div class="button-box">
                <button class="confirm-button" aria-label="confirm" onclick="dateSetting()">선택완료</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
