<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마니또 멤버 초대</title>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/invite.css}" /> -->
    <link rel="stylesheet" href="../../../static/css/invite.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
    <script>
      function openCal() {
        event.preventDefault();
        event.stopPropagation();
        const modal = document.querySelector(".modal-area");
        if (modal !== null) {
          modal.style.display = "block";
        }
        console.log(" ㅋㄹ");
      }
      window.addEventListener("DOMContentLoaded", () => {
        const modal = document.querySelector(".modal-area");
        window.addEventListener("click", () => {
          modal.style.display = "none";
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">마니또 게임을 만들기 위해서는 간단하게 세팅이 필요해요!</h1>
    </header>
    <main>
      <div>
        <form>
          <ul>
            <li class="select-group">
              <h2 class="title">관리자 게임 참가 여부</h2>
              <div class="select-block">
                <input type="radio" name="admin_join" id="admin-join-y" value="Y" checked />
                <label class="bt-white" for="admin-join-y">
                  <span class="icon-check">참가</span>
                </label>
                <input type="radio" name="admin_join" id="admin-join-n" value="N" />
                <label class="bt-white" for="admin-join-n">
                  <span class="icon-check">관전</span>
                </label>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">참가자 공개 여부</h2>
              <div class="select-block">
                <input type="radio" name="show_yn" id="show-y" value="Y" checked />
                <label class="bt-white" for="show-y">
                  <span class="icon-check">공개</span>
                </label>
                <input type="radio" name="show_yn" id="show-n" value="N" />
                <label class="bt-white" for="show-n">
                  <span class="icon-check">비공개</span>
                </label>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">미션 사용 여부</h2>
              <div class="select-block">
                <input type="radio" name="mission" id="mission-y" value="Y" checked />
                <label class="bt-white" for="mission-y">
                  <span class="icon-check">미션없음</span>
                </label>
                <input type="radio" name="mission" id="mission-n" value="N" />
                <label class="bt-white" for="mission-n">
                  <span class="icon-check">미션있음</span>
                </label>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
            <li class="select-group">
              <h2 class="title">마니또 종료 시점</h2>
              <div class="select-block modal-open">
                <button type="button" class="bt-white bt-white-fix icon-cal" onclick="openCal()">
                  <input type="text" name="end" id="end-date" placeholder="0000년 00월 00일 00:00" readonly />
                </button>
                <!-- 달력 -->
                <div class="modal-area">
                  <div class="modal-body">
                    <div class="modal-header">
                      <div>미션 시작일자</div>
                    </div>
                    <div class="modal-main">
                      내용~~~~<br />
                      내용~~~~<br />
                      내용~~~~<br />
                      내용~~~~<br />
                      내용~~~~<br />
                      내용~~~~<br />
                      내용~~~~<br />
                    </div>
                  </div>
                </div>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </li>
          </ul>
        </form>
      </div>
    </main>
  </body>
</html>
