<!DOCTYPE html>
<html lang="ko">
  <head th:replace="~{thymeleaf/base :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마니또 설정 보기</title>
    <link rel="stylesheet" th:href="@{/css/gameDetail.css}" />
    <script th:inline="javascript">
      var a = /*[[${a}]]*/"";
      var form = /*[[${form}]]*/"";
      function addGroup() {
        let currentDegree = document.querySelectorAll("input[name$='.degree']");
        console.log(currentDegree);
        let addGroupDegree = parseInt(currentDegree[currentDegree.length - 1].value) + 1;
        document.querySelector("input[name='degree']").value = addGroupDegree;

        const form = document.querySelector("#add-form");
        form.action = "/ajh3.do/update/group/add";
        form.method = "post";
        form.submit();
      }
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">마니또 게임의 설정이 완료되었습니다.</h1>
    </header>
    <main>
      <div th:each=" form : ${a}">
        <!-- <div> -->
        <th:block th:replace="~{thymeleaf/fragment/view_form :: view_form(${form})}"></th:block>
      </div>
        <form id="add-form">
          <input type="hidden" th:name="sDate" th:value="${sDate}" />
          <input type="hidden" th:name="eDate" th:value="${eDate}" />
          <input type="hidden" th:name="manitoIdx" th:value="${manitoIdx}" />
          <input type="hidden" name="degree" value="" />
          <button class="bt-size-mini add-group icon-plus" onclick="addGroup()" type="button">미션추가</button>
        </form>
    </main>
  </body>
</html>
