@charset "utf-8";

header {
  height: 38.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 버튼 영역 */
.button-area {
  /* 상단떼기 */
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.1rem;
}
