@charset "uft-8";

body {
  background-color: var(--purple);
  padding-top: 8.3rem;
}
label {
  cursor: pointer;
}
/* 입력창 공통 */
input[type="text"] {
    outline: none;
    border: none;
    width: 90%;
    font-family: var(--f-pre);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
  }
/* 미션그룹 */
div[class^="mission-group-"] {
  position: relative;
  margin: 1.5rem auto;
  width: 93rem;
  padding: 4rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ededed;
  box-sizing: border-box;
  box-shadow: var(--l-shadow);
}
div[class^="mission-group-"]::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  width: 1rem;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--coral);
}
/* 미션타이틀 */
h2.title {
  position: relative;
  font-size: 3rem;
  font-family: var(--f-pre);
  font-weight: 500;
  padding-bottom: 2rem;
}
h2.title::after {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 18rem;
  height: 3px;
  background-color: var(--coral);
}
/* 색상 */
div[class^="mission-group-"]:nth-child(4n+1)::before{
background-color: var(--coral);
}
div[class^="mission-group-"]:nth-child(4n+2)::before{
    background-color: var(--yellow);
}
div[class^="mission-group-"]:nth-child(4n+3)::before{
    background-color: var(--green);
}
div[class^="mission-group-"]:nth-child(4n+0)::before{
    background-color: var(--d-purple);
}
div[class^="mission-group-"]:nth-child(4n+1) h2.title::after {
    background-color: var(--coral);
}
div[class^="mission-group-"]:nth-child(4n+2) h2.title::after {
    background-color: var(--yellow);
}
div[class^="mission-group-"]:nth-child(4n+3) h2.title::after {
    background-color: var(--green);
}
div[class^="mission-group-"]:nth-child(4n+0) h2.title::after {
    background-color: var(--d-purple);
}
/* 버튼 기본 */
button {
    width: 4rem;
    font-size: 3rem;
    border-radius: 50%;
    height: 4rem;
    cursor: pointer;
}
/* +버튼 */
.add-mission{
    position: absolute;
    right: 2rem;
    bottom: 2.7rem;
}
/* 버튼 오버 */
.del-mission:hover{
    background-color: var(--coral);
}
.add-mission:hover{
    background-color: var(--purple);
}
.add-mission:hover::after,
.del-mission:hover::after{
    color: #fff;
}
/* 그룹 버튼 */
.bt-size-mini.icon-delete {
  margin-left: auto;
  box-shadow: var(--shadow);
}
.bt-size-mini.icon-plus{
  margin: 0 auto;
  box-shadow: var(--shadow);
}
/* 완료버튼 */
.bt-purple{
  margin: 2rem auto;
}
/* 입력그룹 */
.input-group{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}
.input-unit{
    display: flex;
    align-items: center;
}
/* 선택 그룹 공통*/
.select-group {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
/* 아이콘 */
.icon-cal::after {
  position: relative;
  top: 3px;
  font-size: 2.7rem;
}
.bt-size-mini.icon-plus::after,
.bt-size-mini.icon-delete::after {
  padding-left: 1rem;
}

/* 부가설명 */
.description {
  font-size: 1.6rem;
  font-family: var(--f-pre);
  font-weight: 400;
  color: red;
}

/* 모달영역 */
.modal-open {
  position: relative;
}
/* 모달 공통 */
.modal {
  /* display: block; */
  font-family: var(--f-pre);
  font-weight: 500;
}
