@charset "uft-8";

.time-picker-area {
    position: relative;
    box-sizing: border-box;
    /* padding: 0px 15px; */
    /* padding-bottom: 10px; */
  }
  .time-picker-header {
    text-align: center;
  }
  .time-picker-view {
    font-size: 2rem;
    padding: 1rem;
  }
  .time-picker-body {
    position: relative;
    display: flex;
    min-width: 20rem;
  }
  .time-picker-body .time-slider {
    flex: 1;
    user-select: none;
    max-height: 175px;
  }
  .time-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .time-slider-wraper {
    width: 80%;
    text-align: center;
    overflow: hidden;
    flex: 1;
  }
  .time-pick-box::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom, #fff, #ffffff80);
    width: 100%;
    height: 53px;
    bottom: 35px;
  }
  .time-pick-box::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, #fff, #ffffff80);
    width: 100%;
    height: 53px;
    top: 35px;
  }
  .time-pick-box {
    position: absolute;
    /* left: -15px; */
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* width: 357px; */
    height: 35px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
  }
  .blue-back {
    background-color: #cfdfff;
  }
  .blue-back span {
    display: block;
    padding-top: 2px;
    text-align: center;
  }
  .time-slider-wraper li {
    height: 27px;
    font-weight: bold;
    font-size: 20px;
    color: #b7b7b7;
    transition: none;
  }
  .time-slider-wraper li[data-pick="0"] {
    color: #000;
  }
  /* 시간 */
  .hour-slider ol {
    position: relative;
    top: 0;
    transition: none;
  }
  /* 분 */
  .minute-slider ol {
    position: relative;
    top: 0;
    transition: none;
  }
  .arrow-button {
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .arrow-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-right: .7rem solid transparent;
    border-left: .7rem solid transparent;
  }
  .up-arrow::before {
    border-top: none;
    border-bottom: .7rem solid #b7b7b7;
  }
  .down-arrow::before {
    border-top: .7rem solid #b7b7b7;
    border-bottom: none;
  }
  .notify-box {
    display: flex;
    margin: 1rem;
    height: 5rem;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .button-box {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
  }
  .confirm-button {
    flex: 1;
    height: 4rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #75a5ff;
    cursor: pointer;
    background-color: #9fc0ff;
    color: #fff;
    margin-top: 1rem;
  }