<!DOCTYPE html>
<html lang="ko">
  <head th:replace="thymeleaf/base :: common_header(~{::title},~{::link},~{::script})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마니또 세부설정</title>
    <link rel="stylesheet" th:href="@{/css/makeGame.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/timePicker.css}" />
    <script type="text/javascript" th:src="@{/javascript/calendar.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/timePicker.js}"></script>

    <!-- 테스트용 -->
    <!-- <link rel="stylesheet" href="../../static/css/calendar.css" />
    <link rel="stylesheet" href="../../static/css/timePicker.css" />
    <link rel="stylesheet" href="../../static/css/main.css" />
    <link rel="stylesheet" href="../../static/css/makeGame.css" />
    <script src="../../static/javascript/calendar.js"></script>
    <script src="../../static/javascript/timePicker.js"></script> -->
    <script th:inline="javascript">
      let missionIndex = 0;
      let missionGroup = 0;
      function plusMisson() {
        event.preventDefault();
        event.stopPropagation();
        const target = event.currentTarget.parentNode;
        missionIndex++;
        createMissionInput(target);
        // 추가버튼, span 맨 뒤로 옮기기
        const button = target.querySelector(".icon-plus");
        const descriptionSpan = target.querySelector(".description");
        target.appendChild(button);
        target.appendChild(descriptionSpan);
      }
      function initMissionGroupCode() {
        const missionGroupCode = `<div class="mission-group-${missionGroup}">
            <h2 class="title">${missionGroup + 1}번 미션그룹</h2>
            <div class="input-group">
              <input type="text" name="mission-${missionIndex}" id="mission-${missionIndex}" placeholder="미션 내용을 입력하세요" />
              <button class="icon-plus" onclick="plusMisson()">추가</button>
              <small class="description">여러 개의 미션을 입력하면 멤버들에게 각자 다른 미션을 나눠 줄 수 있습니다.</small>
            </div>
            <div class="select-group">
              <div class="select-block modal-open">
                <button type="button" class="bt-white bt-white-fix icon-cal" onclick="openCal()" data-target="false">
                  <input type="text" id="start_date" placeholder="0000년 00월 00일 00:00" readonly th:field="*{start_date}" />
                </button>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </div>
            <button type="button" class="icon-minus" onclick="minusGroup()">그룹삭제</button>
          </div>
        `;
        return missionGroupCode;
      }
      function createMissionInput(target) {
        const addCode = `<input type="text" name="mission-${missionIndex}" id="mission-${missionIndex}" placeholder="미션 내용을 입력하세요" />
        <button type="button" class="icon-minus" onclick="minusMission()">x</button>`;
        const originalCode = target.innerHTML;
        target.innerHTML = originalCode + addCode;
      }
      function minusMission() {
        event.preventDefault();
        event.stopPropagation();
        const targetButton = event.currentTarget;
        const targetInput = targetButton.previousElementSibling;
        targetButton.remove();
        targetInput.remove();
      }
      function plusGroup() {
        event.preventDefault();
        event.stopPropagation();
        const form = event.currentTarget.parentNode;
        const originalCode = form.innerHTML;
        missionGroup++;
        const addCode = initMissionGroupCode();
        form.innerHTML = originalCode + addCode;
        const btn = form.querySelector(".add-group");
        form.appendChild(btn);
      }
      function minusGroup() {
        event.preventDefault();
        event.stopPropagation();
        const targetButton = event.currentTarget;
        const targetGroup = targetButton.parentNode;
        targetGroup.remove();
      }
      // 모달 위치 계산
      function popupCenter(domain, url, title, w, h) {
        document.domain = domain;
        // 팝업 창의 위치를 계산하여 중앙에 위치시킵니다.
        var left = screen.width / 2 - w / 2;
        var top = screen.height / 2 - h / 2; // window.open 함수로 팝업 창을 엽니다.
        window.open(url, title, "width=" + w + ", height=" + h + ", top=" + top + ", left=" + left + ", scrollbars=yes");
      }
      // 모달 열기
      function showModal(modalTarget) {
        modalTarget.style.opacity = 1;
        modalTarget.style.zIndex = 999;
      }
      // 모달 닫기
      function hideModal(modalTarget) {
        modalTarget.style.opacity = 0;
        modalTarget.style.zIndex = -999;
      }

      // 모달 위치 설정
      function initPosSetting(modalTarget, clickElement) {
        let posX = clickElement.getBoundingClientRect().left + clickElement.getBoundingClientRect().width + 20;
        let posY =
          clickElement.getBoundingClientRect().top +
          clickElement.getBoundingClientRect().height -
          modalTarget.getBoundingClientRect().height;
        modalTarget.style.top = posY + "px";
        modalTarget.style.left = posX + "px";
        // 대상 data-target true로 변경
        clickElement.dataset.target = "true";
      }
      // 달력 열기
      function openCal() {
        event.preventDefault();
        event.stopPropagation();
        const modal = document.querySelector(".modal-bg");
        if (modal !== null) {
          showModal(modal);
        }
        const tg = event.currentTarget;
        const modalCal = modal.querySelector("#cal");
        const modalTimer = modal.querySelector("#timer");
        // 모달창 위치 설정
        initPosSetting(modalCal, tg);
        initPosSetting(modalTimer, tg);
        // 달력모달 켜기
        showModal(modalCal);
        hideModal(modalTimer);
      }

      function showFormDate(date) {
        return dateList[0] + "년" + dateList[1] + "월" + dateList[2] + "일 " + timeList[0] + ":" + timeList[1];
      }

      // 2. 선택완료
      function dateSetting() {
        const time = document.querySelector(".time-picker-view").innerText;
        const date = document.querySelector(".calendar-hidden").value;
        const modal = document.querySelector(".modal-bg");
        const inputTargetParent = document.querySelector("button[data-target='true']");
        const inputTarget = inputTargetParent.querySelector("input[type='text']");
        const dateFormat = (date, time) => {
          time = time.replace(/\s/g, ""); // 공백제거
          let dateList = date.split("-");
          let timeList = time.split(" : ");
          let dateVal = date + " " + time;
          return dateVal;
        };
        // input 값 입력
        inputTarget.value = dateFormat(date, time);
        // 대상 data-target 초기화
        inputTargetParent.dataset.target = "false";
        // 모달 닫기
        hideModal(modal);
      }
      //모달 타겟 리셋
      function modalTargetReset() {
        const modalBtn = document.querySelector(".modal-open button[data-target='true']");
        modalBtn.dataset.target = "false";
      }
      window.addEventListener("DOMContentLoaded", () => {
        // 모달 외부창 클릭시 꺼짐
        const modal = document.querySelector(".modal-bg");
        modal.addEventListener("click", () => {
          hideModal(modal);
          modalTargetReset(); //타겟 설정 초기화
        });
        // 달력, 시계 닫기이벤트 방지
        const modalCal = modal.querySelector("#cal");
        const modalTimer = modal.querySelector("#timer");
        modalCal.addEventListener("click", function (e) {
          e.stopPropagation();
        });
        modalTimer.addEventListener("click", function (e) {
          e.stopPropagation();
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">마니또 게임에 미션을 세부설정 할 수 있어요.</h1>
    </header>
    <main>
      <div>
        <form>
          <div class="mission-group-0">
            <h2 class="title">1번 미션그룹</h2>
            <div class="input-group">
              <input type="text" name="mission-0" id="mission-0" placeholder="미션 내용을 입력하세요" />
              <button class="icon-plus" onclick="plusMisson()">추가</button>
              <small class="description">여러 개의 미션을 입력하면 멤버들에게 각자 다른 미션을 나눠 줄 수 있습니다.</small>
            </div>
            <div class="select-group">
              <div class="select-block modal-open">
                <button type="button" class="bt-white bt-white-fix icon-cal" onclick="openCal()" data-target="false">
                  <input type="text" id="start_date" placeholder="0000년 00월 00일 00:00" readonly th:field="*{start_date}" />
                </button>
              </div>
              <small class="description">관리자가 마니또에 직접 참여할 지 관전만 할 지 선택합니다.</small>
            </div>
          </div>
          <button class="icon-plus add-group" onclick="plusGroup()">미션 추가하기</button>
        </form>
      </div>
    </main>
    <!-- 모달 -->
    <div class="modal-bg">
      <!-- 달력 -->
      <div class="modal" id="cal">
        <div class="modal-area">
          <div class="title">미션시작 일자</div>
          <div class="body">
            <div class="calendar">
              <div class="calendar-tit">
                <div class="calendar-btn bt-previous"></div>
                <div class="year-month"></div>
                <div class="calendar-btn bt-next"></div>
              </div>
              <div class="calendar-body"></div>
              <input type="text" class="calendar-hidden" />
            </div>
          </div>
        </div>
      </div>
      <!-- 시계 -->
      <div class="modal" id="timer">
        <div class="modal-area">
          <div class="time-picker-area">
            <section class="time-picker-header">
              <div class="title">미션시작 시간</div>
              <div class="time-picker-view"></div>
            </section>
            <section class="time-picker-body">
              <div class="time-pick-box blue-back"><span>:</span></div>
              <div class="time-slider hour-slider"></div>
              <div class="time-slider minute-slider"></div>
              <!-- <div class="time-pick-box"></div> -->
            </section>
            <section class="time-picker-footer">
              <div class="button-box">
                <button class="confirm-button" aria-label="confirm" onclick="dateSetting()">선택완료</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
